In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv(r'../data/crunchbase/crunchbase (1).csv')
df2 = pd.read_csv(r'../data/crunchbase/crunchbase (2).csv')
df3 = pd.read_csv(r'../data/crunchbase/crunchbase (3).csv')
df4 = pd.read_csv(r'../data/crunchbase/crunchbase (4).csv')
df5 = pd.read_csv(r'../data/crunchbase/crunchbase (5).csv')
df6 = pd.read_csv(r'../data/crunchbase/crunchbase (6).csv')

In [3]:
for df in [df1, df2, df3, df4, df5, df6]:
    df.columns = df.columns.str.lower()

In [4]:
dfs = {'df1': df1, 'df2': df2, 'df3': df3, 'df4': df4, 'df5': df5, 'df6': df6}

all_columns = set().union(*(set(df.columns) for df in dfs.values()))

presence_matrix = {
    col: [df_name for df_name, df in dfs.items() if col in df.columns]
    for col in all_columns
}

for col, present_in in presence_matrix.items():
    if len(present_in) != len(dfs):
        missing_from = [name for name in dfs if name not in present_in]
        print(f"Column '{col}' is missing from: {missing_from}")
        print(f"    Present in: {present_in}")

Column 'industry4' is missing from: ['df1', 'df2']
    Present in: ['df3', 'df4', 'df5', 'df6']
Column 'top investor2' is missing from: ['df2']
    Present in: ['df1', 'df3', 'df4', 'df5', 'df6']
Column 'crunchbase profile' is missing from: ['df1']
    Present in: ['df2', 'df3', 'df4', 'df5', 'df6']
Column 'co-founder1' is missing from: ['df1', 'df2']
    Present in: ['df3', 'df4', 'df5', 'df6']
Column 'cofounder1' is missing from: ['df2', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df1']
Column 'top investor3' is missing from: ['df2', 'df4']
    Present in: ['df1', 'df3', 'df5', 'df6']
Column 'headquarters location' is missing from: ['df1']
    Present in: ['df2', 'df3', 'df4', 'df5', 'df6']
Column 'ng-star-inserted 3' is missing from: ['df1', 'df4', 'df5', 'df6']
    Present in: ['df2', 'df3']
Column 'number of lead investors' is missing from: ['df6']
    Present in: ['df1', 'df2', 'df3', 'df4', 'df5']
Column 'industry5' is missing from: ['df1', 'df2']
    Present in: ['df3', 'df4', 'df5', 'df6']
Column 'chrunchbase profile' is missing from: ['df2', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df1']
Column 'linkedin.1' is missing from: ['df1', 'df2', 'df3', 'df5', 'df6']
    Present in: ['df4']
Column 'top investor4' is missing from: ['df1', 'df2', 'df3', 'df4', 'df5']
    Present in: ['df6']
Column 'component--field-formatter 24' is missing from: ['df1', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df2']
Column 'component--field-formatter 26' is missing from: ['df1', 'df2', 'df4', 'df5', 'df6']
    Present in: ['df3']
Column 'component--field-formatter href 8' is missing from: ['df1', 'df2', 'df3', 'df5', 'df6']
    Present in: ['df4']
Column 'headquarters location2' is missing from: ['df1', 'df2', 'df3', 'df4']
    Present in: ['df5', 'df6']
Column 'number pf lead investors' is missing from: ['df1', 'df2', 'df3', 'df4', 'df5']
    Present in: ['df6']
Column 'top investor5' is missing from: ['df1', 'df2', 'df3', 'df4', 'df5']
    Present in: ['df6']
Column 'ng-star-inserted 4' is missing from: ['df1', 'df4', 'df5', 'df6']
    Present in: ['df2', 'df3']
Column 'co-founde1' is missing from: ['df1', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df2']
Column 'ng-star-inserted 5' is missing from: ['df1', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df2']
Column 'industry group6' is missing from: ['df1', 'df2', 'df3', 'df4', 'df5']
    Present in: ['df6']
Column 'industry6' is missing from: ['df1', 'df2', 'df3', 'df4', 'df5']
    Present in: ['df6']
Column 'headquarters location1' is missing from: ['df2', 'df3', 'df4', 'df5', 'df6']
    Present in: ['df1']
Column 'exit date' is missing from: ['df2']
    Present in: ['df1', 'df3', 'df4', 'df5', 'df6']

In [5]:
df2.rename(columns={'co-founde1' : 'co-founder1'}, inplace=True)

In [6]:
df4.rename(columns={'linkedin.1' : 'linkedin'}, inplace=True)

In [7]:
df1.rename(columns={'headquarters location1' : 'headquarters location', 
                    'chrunchbase profile' : 'crunchbase profile',
                    'cofounder1' : 'co-founder1'}, inplace=True)

In [8]:
df4.drop(columns=['component--field-formatter href 8'], inplace=True)

In [9]:
df2.drop(columns=['ng-star-inserted 5', 'ng-star-inserted 3',
                'ng-star-inserted 4', 'ng-star-inserted 5',
                'component--field-formatter 24'], inplace=True)

In [10]:
df3.drop(columns=['component--field-formatter 26', 'ng-star-inserted 4',
                'ng-star-inserted 3'], inplace=True)

In [11]:
df6.rename(columns={'number pf lead investors' : 'number of lead investors'}, inplace=True)

In [12]:
dfs = {'df1': df1, 'df2': df2, 'df3': df3, 'df4': df4}

all_columns = set().union(*(set(df.columns) for df in dfs.values()))

presence_matrix = {
    col: [df_name for df_name, df in dfs.items() if col in df.columns]
    for col in all_columns
}

for col, present_in in presence_matrix.items():
    if len(present_in) != len(dfs):
        missing_from = [name for name in dfs if name not in present_in]
        print(f"Column '{col}' is missing from: {missing_from}")
        print(f"    Present in: {present_in}")

Column 'industry4' is missing from: ['df1', 'df2']
    Present in: ['df3', 'df4']
Column 'top investor2' is missing from: ['df2']
    Present in: ['df1', 'df3', 'df4']
Column 'top investor3' is missing from: ['df2', 'df4']
    Present in: ['df1', 'df3']
Column 'industry5' is missing from: ['df1', 'df2']
    Present in: ['df3', 'df4']
Column 'exit date' is missing from: ['df2']
    Present in: ['df1', 'df3', 'df4']

In [13]:
for i, df in enumerate([df1, df2, df3, df4, df5, df6], 1):
    duplicated_cols = df.columns[df.columns.duplicated()]
    if len(duplicated_cols) > 0:
        print(f"df{i} has duplicated columns: {duplicated_cols.tolist()}")

df4 has duplicated columns: ['linkedin']

In [14]:
linkedin_indices = [i for i, col in enumerate(df4.columns) if col == 'linkedin']
print("Indices of 'linkedin' columns:", linkedin_indices)

for idx in linkedin_indices:
    print(f"\nLinkedIn column at index {idx}:\n")
    print(df4.iloc[:, idx].head())

Indices of 'linkedin' columns: [12, 17]

LinkedIn column at index 12:

0           https://www.linkedin.com/company/sellou
1         https://bh.linkedin.com/company/unipal-bh
2       https://www.linkedin.com/company/emma-aero/
3    https://www.linkedin.com/company/pass-delivery
4         https://www.linkedin.com/company/invoiceq
Name: linkedin, dtype: object

LinkedIn column at index 17:

0    https://www.crunchbase.com/search/press_refere...
1    https://www.crunchbase.com/search/press_refere...
2    https://www.crunchbase.com/search/press_refere...
3    https://www.crunchbase.com/search/press_refere...
4    https://www.crunchbase.com/search/press_refere...
Name: linkedin, dtype: object

In [15]:
df4 = df4.drop(df4.columns[17], axis=1)

In [16]:
print(df4.columns[df4.columns.duplicated()])

Index([], dtype='object')

In [17]:
all_columns = set().union(df1.columns, df2.columns, df3.columns, df4.columns, df5.columns, df6.columns)
for df in [df1, df2, df3, df4, df5, df6]:
    missing_cols = all_columns - set(df.columns)
    for col in missing_cols:
        df[col] = pd.NA

In [18]:
all_columns_sorted = sorted(all_columns)
df1 = df1[all_columns_sorted]
df2 = df2[all_columns_sorted]
df3 = df3[all_columns_sorted]
df4 = df4[all_columns_sorted]

In [19]:
combined_df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)
combined_df.head()

,cb rank (company),cb rank (organization),co-founder1,co-founder1 crunchbase profile,co-founder2,co-founder2 crunchbase profile,contact email,country,crunchbase profile,description,...,organization name,phone number,similar companies,top investor1,top investor2,top investor3,top investor4,top investor5,twitter,website
0,"3,672","4,304",Ahmed Aboulella,https://www.crunchbase.com/person/ahmed-aboulella,NaN,NaN,—,Egypt,https://www.crunchbase.com/organization/infini...,InfiniLink operates as a semiconductor startup.,...,InfiniLink,—,—,M Empire Angels,MediaTek,Sukna Ventures,NaN,NaN,NaN,https://infinilink.ai/
1,"8,265","9,497",NaN,NaN,NaN,NaN,marketing@enzagroup.global,Egypt,https://www.crunchbase.com/organization/enza,Enza offers innovative payment solutions to fo...,...,enza,—,—,Quona Capital,Algebra Ventures,NaN,NaN,NaN,https://twitter.com/enza_group,https://www.enzagroup.global/
2,"10,945","12,477",Ahmed Sabbah,https://www.crunchbase.com/person/ahmed-sabbah,Youssef Sholqamy,https://www.crunchbase.com/person/youssef-shol...,info@telda.app,Egypt,https://www.crunchbase.com/organization/telda,"Telda is the easiest and fastest way to send, ...",...,Telda,—,4,Sequoia Capital,Global Founders Capital,Class 5 Global,NaN,NaN,https://twitter.com/TeldaApp,https://telda.app/
3,"16,740","18,847",Hamza Tag,https://www.crunchbase.com/person/hamza-tag,Yosra Badr,https://www.crunchbase.com/person/yosra-badr,—,Egypt,https://www.crunchbase.com/organization/grinta,Grinta is a pharmaceutical supply chain that u...,...,Grinta,01006717761,8,Endeavor Catalyst,500 Global,Bossa Invest,NaN,NaN,NaN,https://grinta.ai/home
4,"17,357","19,507",Waleed Sadek,https://www.crunchbase.com/person/waleed-sadek...,NaN,NaN,Media@PaySky.io,Egypt,https://www.crunchbase.com/organization/paysky,Digital payments ecosystem enabler,...,PaySky,9.71567E+11,46,DIFC FinTech Hive,NaN,NaN,NaN,NaN,https://twitter.com/paysky_io,http://www.paysky.io/

In [20]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   cb rank (company)               3089 non-null   object
 1   cb rank (organization)          3089 non-null   object
 2   co-founder1                     2123 non-null   object
 3   co-founder1 crunchbase profile  2123 non-null   object
 4   co-founder2                     1101 non-null   object
 5   co-founder2 crunchbase profile  1101 non-null   object
 6   contact email                   3089 non-null   object
 7   country                         3069 non-null   object
 8   crunchbase profile              3089 non-null   object
 9   description                     3089 non-null   object
 10  estimated revenue range         3089 non-null   object
 11  exit date                       2980 non-null   object
 12  facebook                        1874 non-null   object
 13  founded date                    3089 non-null   object
 14  full description                3088 non-null   object
 15  growth confidence               2978 non-null   object
 16  headquarters location           3069 non-null   object
 17  headquarters location2          610 non-null    object
 18  industry group1                 3018 non-null   object
 19  industry group2                 2577 non-null   object
 20  industry group3                 1886 non-null   object
 21  industry group4                 1360 non-null   object
 22  industry group5                 886 non-null    object
 23  industry group6                 92 non-null     object
 24  industry1                       3018 non-null   object
 25  industry2                       2709 non-null   object
 26  industry3                       2198 non-null   object
 27  industry4                       882 non-null    object
 28  industry5                       524 non-null    object
 29  industry6                       83 non-null     object
 30  last funding amount             3089 non-null   object
 31  last funding type               3088 non-null   object
 32  linkedin                        2351 non-null   object
 33  number of articles              3089 non-null   object
 34  number of employees             3078 non-null   object
 35  number of founders              3089 non-null   object
 36  number of investors             3086 non-null   object
 37  number of lead investors        3087 non-null   object
 38  operating status                3089 non-null   object
 39  organization name               3089 non-null   object
 40  phone number                    3089 non-null   object
 41  similar companies               3083 non-null   object
 42  top investor1                   2342 non-null   object
 43  top investor2                   1064 non-null   object
 44  top investor3                   607 non-null    object
 45  top investor4                   93 non-null     object
 46  top investor5                   75 non-null     object
 47  twitter                         1617 non-null   object
 48  website                         3028 non-null   object
dtypes: object(49)
memory usage: 1.2+ MB

In [22]:
count = combined_df[
    (combined_df['top investor1'] == 'Flat6Labs') |
    (combined_df['top investor2'] == 'Flat6Labs') |
    (combined_df['top investor3'] == 'Flat6Labs') |
    (combined_df['top investor4'] == 'Flat6Labs') |
    (combined_df['top investor5'] == 'Flat6Labs')
].shape[0]

print(f"Number of rows with Flat6Labs as a top investor: {count}")

Number of rows with Flat6Labs as a top investor: 455

In [23]:
df = combined_df.drop_duplicates('organization name')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2857 entries, 0 to 3089
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   cb rank (company)               2856 non-null   object
 1   cb rank (organization)          2856 non-null   object
 2   co-founder1                     1971 non-null   object
 3   co-founder1 crunchbase profile  1971 non-null   object
 4   co-founder2                     1018 non-null   object
 5   co-founder2 crunchbase profile  1018 non-null   object
 6   contact email                   2856 non-null   object
 7   country                         2836 non-null   object
 8   crunchbase profile              2856 non-null   object
 9   description                     2856 non-null   object
 10  estimated revenue range         2856 non-null   object
 11  exit date                       2749 non-null   object
 12  facebook                        1705 non-null   object
 13  founded date                    2856 non-null   object
 14  full description                2855 non-null   object
 15  growth confidence               2747 non-null   object
 16  headquarters location           2836 non-null   object
 17  headquarters location2          385 non-null    object
 18  industry group1                 2789 non-null   object
 19  industry group2                 2376 non-null   object
 20  industry group3                 1739 non-null   object
 21  industry group4                 1258 non-null   object
 22  industry group5                 826 non-null    object
 23  industry group6                 89 non-null     object
 24  industry1                       2789 non-null   object
 25  industry2                       2496 non-null   object
 26  industry3                       2024 non-null   object
 27  industry4                       776 non-null    object
 28  industry5                       464 non-null    object
 29  industry6                       80 non-null     object
 30  last funding amount             2856 non-null   object
 31  last funding type               2855 non-null   object
 32  linkedin                        2150 non-null   object
 33  number of articles              2856 non-null   object
 34  number of employees             2845 non-null   object
 35  number of founders              2856 non-null   object
 36  number of investors             2853 non-null   object
 37  number of lead investors        2854 non-null   object
 38  operating status                2856 non-null   object
 39  organization name               2856 non-null   object
 40  phone number                    2856 non-null   object
 41  similar companies               2850 non-null   object
 42  top investor1                   2116 non-null   object
 43  top investor2                   952 non-null    object
 44  top investor3                   551 non-null    object
 45  top investor4                   89 non-null     object
 46  top investor5                   71 non-null     object
 47  twitter                         1509 non-null   object
 48  website                         2797 non-null   object
dtypes: object(49)
memory usage: 1.1+ MB

In [26]:
df.rename(columns={'contact email' : 'organization contact email',
                    'crunchbase profile' : 'organization crunchbase profile',
                    'description' : 'organization description',
                    'facebook' : 'organization facebook',
                    'full description' : 'organization full description',
                    'linkedin' : 'organization linkedin',
                    'phone number' : 'organization phone number',
                    'twitter' : 'organization twitter',
                    'website' : 'organization website'}, inplace=True)
df.info(())

<class 'pandas.core.frame.DataFrame'>
Index: 2857 entries, 0 to 3089
Data columns (total 49 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   cb rank (company)                2856 non-null   object
 1   cb rank (organization)           2856 non-null   object
 2   co-founder1                      1971 non-null   object
 3   co-founder1 crunchbase profile   1971 non-null   object
 4   co-founder2                      1018 non-null   object
 5   co-founder2 crunchbase profile   1018 non-null   object
 6   organization contact email       2856 non-null   object
 7   country                          2836 non-null   object
 8   organization crunchbase profile  2856 non-null   object
 9   organization description         2856 non-null   object
 10  estimated revenue range          2856 non-null   object
 11  exit date                        2749 non-null   object
 12  organization facebook            1705 non-null   object
 13  founded date                     2856 non-null   object
 14  organization full description    2855 non-null   object
 15  growth confidence                2747 non-null   object
 16  headquarters location            2836 non-null   object
 17  headquarters location2           385 non-null    object
 18  industry group1                  2789 non-null   object
 19  industry group2                  2376 non-null   object
 20  industry group3                  1739 non-null   object
 21  industry group4                  1258 non-null   object
 22  industry group5                  826 non-null    object
 23  industry group6                  89 non-null     object
 24  industry1                        2789 non-null   object
 25  industry2                        2496 non-null   object
 26  industry3                        2024 non-null   object
 27  industry4                        776 non-null    object
 28  industry5                        464 non-null    object
 29  industry6                        80 non-null     object
 30  last funding amount              2856 non-null   object
 31  last funding type                2855 non-null   object
 32  organization linkedin            2150 non-null   object
 33  number of articles               2856 non-null   object
 34  number of employees              2845 non-null   object
 35  number of founders               2856 non-null   object
 36  number of investors              2853 non-null   object
 37  number of lead investors         2854 non-null   object
 38  operating status                 2856 non-null   object
 39  organization name                2856 non-null   object
 40  organization phone number        2856 non-null   object
 41  similar companies                2850 non-null   object
 42  top investor1                    2116 non-null   object
 43  top investor2                    952 non-null    object
 44  top investor3                    551 non-null    object
 45  top investor4                    89 non-null     object
 46  top investor5                    71 non-null     object
 47  organization twitter             1509 non-null   object
 48  organization website             2797 non-null   object
dtypes: object(49)
memory usage: 1.1+ MB

C:\Users\Yusuf Aldaly\AppData\Local\Temp\ipykernel_23452\4153600815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'contact email' : 'organization contact email',

In [27]:
df.to_csv('../data/data.csv')

In [3]:
df = pd.read_csv('../data/data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2857 entries, 0 to 2856
Data columns (total 50 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       2857 non-null   int64
 1   cb rank (company)                2856 non-null   object
 2   cb rank (organization)           2856 non-null   object
 3   co-founder1                      1971 non-null   object
 4   co-founder1 crunchbase profile   1971 non-null   object
 5   co-founder2                      1018 non-null   object
 6   co-founder2 crunchbase profile   1018 non-null   object
 7   organization contact email       2856 non-null   object
 8   country                          2836 non-null   object
 9   organization crunchbase profile  2856 non-null   object
 10  organization description         2856 non-null   object
 11  estimated revenue range          2856 non-null   object
 12  exit date                        2749 non-null   object
 13  organization facebook            1705 non-null   object
 14  founded date                     2856 non-null   object
 15  organization full description    2855 non-null   object
 16  growth confidence                2747 non-null   object
 17  headquarters location            2836 non-null   object
 18  headquarters location2           385 non-null    object
 19  industry group1                  2789 non-null   object
 20  industry group2                  2376 non-null   object
 21  industry group3                  1739 non-null   object
 22  industry group4                  1258 non-null   object
 23  industry group5                  826 non-null    object
 24  industry group6                  89 non-null     object
 25  industry1                        2789 non-null   object
 26  industry2                        2496 non-null   object
 27  industry3                        2024 non-null   object
 28  industry4                        776 non-null    object
 29  industry5                        464 non-null    object
 30  industry6                        80 non-null     object
 31  last funding amount              2856 non-null   object
 32  last funding type                2855 non-null   object
 33  organization linkedin            2150 non-null   object
 34  number of articles               2856 non-null   object
 35  number of employees              2845 non-null   object
 36  number of founders               2856 non-null   object
 37  number of investors              2853 non-null   object
 38  number of lead investors         2854 non-null   object
 39  operating status                 2856 non-null   object
 40  organization name                2856 non-null   object
 41  organization phone number        2856 non-null   object
 42  similar companies                2850 non-null   object
 43  top investor1                    2116 non-null   object
 44  top investor2                    952 non-null    object
 45  top investor3                    551 non-null    object
 46  top investor4                    89 non-null     object
 47  top investor5                    71 non-null     object
 48  organization twitter             1509 non-null   object
 49  organization website             2797 non-null   object
dtypes: int64(1), object(49)
memory usage: 1.1+ MB