In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../data/crunchbase_data.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   index                            1595 non-null   int64
 1   co-founder1                      1595 non-null   object
 2   co-founder2                      832 non-null    object
 3   organization name                1595 non-null   object
 4   country                          1595 non-null   object
 5   google_search_query_founder1     1595 non-null   object
 6   google_search_query_founder2     832 non-null    object
 7   co-founder1 linkedin profile     1595 non-null   object
 8   co-founder2 linkedin profile     3 non-null      object
 9   co-founder1 cv                   1595 non-null   object
 10  key                              1595 non-null   object
 11  Unnamed: 0                       1595 non-null   int64
 12  cb rank (company)                1595 non-null   object
 13  cb rank (organization)           1595 non-null   object
 14  co-founder1 crunchbase profile   1595 non-null   object
 15  co-founder2 crunchbase profile   829 non-null    object
 16  organization contact email       1595 non-null   object
 17  organization crunchbase profile  1595 non-null   object
 18  organization description         1595 non-null   object
 19  estimated revenue range          1595 non-null   object
 20  exit date                        1564 non-null   object
 21  organization facebook            1072 non-null   object
 22  founded date                     1595 non-null   object
 23  organization full description    1594 non-null   object
 24  growth confidence                1564 non-null   object
 25  headquarters location            1594 non-null   object
 26  headquarters location2           36 non-null     object
 27  industry group1                  1570 non-null   object
 28  industry group2                  1344 non-null   object
 29  industry group3                  1025 non-null   object
 30  industry group4                  740 non-null    object
 31  industry group5                  495 non-null    object
 32  industry group6                  2 non-null      object
 33  industry1                        1570 non-null   object
 34  industry2                        1403 non-null   object
 35  industry3                        1138 non-null   object
 36  industry4                        451 non-null    object
 37  industry5                        291 non-null    object
 38  industry6                        2 non-null      object
 39  last funding amount              1595 non-null   object
 40  last funding type                1595 non-null   object
 41  organization linkedin            1247 non-null   object
 42  number of articles               1595 non-null   object
 43  number of employees              1593 non-null   object
 44  number of founders               1595 non-null   object
 45  number of investors              1594 non-null   object
 46  number of lead investors         1594 non-null   object
 47  operating status                 1595 non-null   object
 48  organization phone number        1595 non-null   object
 49  similar companies                1594 non-null   object
 50  top investor1                    1129 non-null   object
 51  top investor2                    575 non-null    object
 52  top investor3                    349 non-null    object
 53  top investor4                    0 non-null      float64
 54  top investor5                    0 non-null      float64
 55  organization twitter             913 non-null    object
 56  organization website             1578 non-null   object
dtypes: float64(2), int64(2), object(53)
memory usage: 710.4+ KB

In [6]:
df.drop(columns=['google_search_query_founder1', 'google_search_query_founder2',
                'key', 'Unnamed: 0', 'cb rank (company)', 'cb rank (organization)',
                'co-founder1 crunchbase profile', 'co-founder2 crunchbase profile',
                'organization contact email', 'organization crunchbase profile', 'estimated revenue range',
                'exit date', 'organization facebook', 'organization twitter', 'headquarters location2',
                'last funding amount', 'last funding type', 'organization linkedin', 'number of articles',
                'number of employees', 'number of lead investors', 'organization phone number', 
                'similar companies', 'organization website'], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          1595 non-null   int64
 1   co-founder1                    1595 non-null   object
 2   co-founder2                    832 non-null    object
 3   organization name              1595 non-null   object
 4   country                        1595 non-null   object
 5   co-founder1 linkedin profile   1595 non-null   object
 6   co-founder2 linkedin profile   3 non-null      object
 7   co-founder1 cv                 1595 non-null   object
 8   organization description       1595 non-null   object
 9   founded date                   1595 non-null   object
 10  organization full description  1594 non-null   object
 11  growth confidence              1564 non-null   object
 12  headquarters location          1594 non-null   object
 13  industry group1                1570 non-null   object
 14  industry group2                1344 non-null   object
 15  industry group3                1025 non-null   object
 16  industry group4                740 non-null    object
 17  industry group5                495 non-null    object
 18  industry group6                2 non-null      object
 19  industry1                      1570 non-null   object
 20  industry2                      1403 non-null   object
 21  industry3                      1138 non-null   object
 22  industry4                      451 non-null    object
 23  industry5                      291 non-null    object
 24  industry6                      2 non-null      object
 25  number of founders             1595 non-null   object
 26  number of investors            1594 non-null   object
 27  operating status               1595 non-null   object
 28  top investor1                  1129 non-null   object
 29  top investor2                  575 non-null    object
 30  top investor3                  349 non-null    object
 31  top investor4                  0 non-null      float64
 32  top investor5                  0 non-null      float64
dtypes: float64(2), int64(1), object(30)
memory usage: 411.3+ KB